.navbar-laravel {
    background-color: #9F7754;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
   
  }

body, html {

background-image: url('/img/kado1.jpg');
font-family: 'Lora', serif;
font-weight: bold; 
}

.jumbotron {
    background: inherit;
    
}

.btn {
    background-color: #9F7754;
    border:none;
    color: black;
}